
<ng-template #divLoading>

    <mat-grid-list cols="1" [rowHeight]="'Specifying 2:1 gives columns that are twice as wide as row'" [gutterSize]="'1px'">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            Tile body
            <mat-grid-tile-footer>
                <h3 mat-line>Heading</h3>
                <span mat-line>Sub heading</span>
                <mat-icon>ligature</mat-icon>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            Tile body
            <mat-grid-tile-footer>
                <h3 mat-line>Heading</h3>
                <span mat-line>Sub heading</span>
                <mat-icon>ligature</mat-icon>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>




<div *ngIf="hero, else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">

      <mat-card-header>
          <mat-card-title>{{ hero.alter_ego }} </mat-card-title>
          <mat-card-subtitle>{{ hero.superhero }} </mat-card-subtitle>
      </mat-card-header>

      <img [src]="hero|heroImage" [alt]="hero.superhero" matCardImage/>
    </mat-card>

    <mat-card class="col-12 sm:col-6">
      <mat-card-header>
          <mat-card-title>Información</mat-card-title>
          <mat-card-subtitle>{{ hero.superhero }} </mat-card-subtitle>
      </mat-card-header>



      <mat-card-content>
        <mat-list>
          <mat-list-item>{{ hero.first_appearance }}</mat-list-item>
          <mat-list-item>{{ hero.characters }}</mat-list-item>
          <mat-list-item>{{ hero.publisher }}</mat-list-item>
          <mat-list-item>{{ hero.alter_ego }}</mat-list-item>
        </mat-list>

          <button
          mat-button
          color="warn"
          (click)="goBack"
          >
          Regresar
        </button>

      </mat-card-content>

      </mat-card>


      <!-- <mat-card-actions align="start">


      </mat-card-actions> -->



</div>
